* {
  margin: 0;
  padding: 0;
}
html,
body,
#app{
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  box-sizing: border-box;
  border: 4px dashed #ccc;
  width: 80%;
  margin: 40px auto;
  padding: 50px;
  .button {
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}

.ReactModalPortal{
  button{
    width: 100%;
    padding:10px;
    background: #f00;
  }
}
